<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br/>

		<% if(error) { %>
			<ul>
				<% for(var i = 0; i < error.length; i++) { %>
					<li>
						<%= error[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>

		<form action="/noticias/salvar" method="post">
			<label>Título</label>
			<input type="text" id="titulo" name="titulo" value="<%=noticia.titulo%>" placeholder="Título da notícia">
			<br/>
			<label>Resumo</label>
			<input type="text" id="resumo" name="resumo" value="<%=noticia.resumo%>" placeholder="Resumo da notícia">
			<br/>
			<label>Nome do autor</label>
			<input type="text" id="nomeautor" name="nomeautor" value="<%=noticia.nomeautor%>" placeholder="Nome do autor">
			<br/>
			<label>Data da notícia</label>
			<input type="date" id="datanoticia" name="datanoticia" value="<%=noticia.datanoticia%>" placeholder="Data da notícia">
			<br/>
			<label>Notícia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"><%=noticia.noticia%></textarea>
			<br/>
			<input type="submit" value="Enviar"/>
		</form>

	</body>
</html>